.container{
  margin: 0 auto;
  width: 80%
}

.table{
font-size: 14px;
border-spacing: 0;
text-align: center;
}

.tableHeader{
  background: #E88F4B;
  color: #fff;
}

.tableHeader th {
  padding: 20px;
  
}

.tableBody td{
  border: 1px #ccc solid;
  padding: 10px
}

form input{
  display: block
}

.deleteBtn{
  background: #C9001A;
  color: #fff;
  border-radius: 50%;
  border: none;
}

.editBtn{
  color: #fff;
  border-radius: 50%;
  background: #E88F4B;
  font-size: .8em;
  border: none;
  padding: 5px
}

.saveBtn, .addBtn, .editBtn, .deleteBtn:hover{
  cursor: pointer;
}

.requestForm form{
  display: inline-block;
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background: #ccc;
  border-radius: 3px;
}

.requestForm input, textarea{
  padding: 10px;
  width: 90%;
  margin-bottom: 5px;
  font-size: .7em;
  border: none
}

.requestForm input:focus{
  border: 0
}

.addBtn, .saveBtn{
  display: block;
  padding: 7px;
  background: #E88F4B;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

h3{
  margin-top: 5px;
}

.msgRed{
  width: 90%;
  background: #F64C4D;
  color: #fff;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}
.searchInput{
  padding: 10px;
}

.validationError{
  color: #F64C4D;
  margin-top: 5px;
  padding: 5px;
}
